annotated-doc==0.0.4
annotated-types==0.6.0
antlr4-python3-runtime==4.13.2
antlr4-tools==0.2.2
anyio==4.12.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.1
compress-pickle==2.1.0
coverage==7.11.3
cryptography==46.0.3
dnspython==2.8.0
elementpath==5.1.1
email-validator==2.3.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.10.1
fastar==0.8.0
Flask==3.1.2
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
install-jdk==1.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lz4==4.3.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mongomock==4.3.0
numpy==1.26.3
packaging==23.2
pluggy==1.4.0
pycparser==2.23
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
pymongo==4.15.5
pytest==8.0.0
pytest-cov==7.0.0
python-dotenv==1.2.1
python-multipart==0.0.21
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.4
rich==14.2.0
rich-toolkit==0.17.1
rignore==0.7.6
rpds-py==0.27.1
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
semver==3.0.2
sentinels==1.1.1
sentry-sdk==2.49.0
shellingham==1.5.4
starlette==0.50.0
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uritools==4.0.2
urllib3==2.5.0
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.5
xmlschema==4.3.1
