# SYSTEM ID - these set the parameters for the repository itself
SYSTEM_ID_STR = "debug.system.run"
SYSTEM_ID_HID = "fb0e24bb-b391-4092-a88f-6f4abe4bb9dc"

BASE_URL = "http://localhost:5000" # determines what is returned in response location headers

# ENDPOINT - this section controls what endpoints are enabled
ENDPOINT_EHR_ENABLED = True            # when set to True, the server makes /ehr endpoints available
ENDPOINT_DEMOGRAPHICS_ENABLED = True   # when set to True, the server makes /demographic endpoints available

# DATABASE - this section controls which database is used
DB_TYPE = "InMemory" # can be set to 'InMemory', 'MongoDB'

# AUTH - this section controls what authentication is used
AUTH_TYPE = "NoAuth" # can be set to 'NoAuth', 'OAuth2', 'OIDC'

# CONTENT - this section configures settings related to content within the system
CONTENT_PRELOAD_FOLDER = "/home/henry/code/pyehr/server_config/preload" # this points to the folders of content that will be preloaded
                                                                        # into the system at startup if they don't already exist